/* Custom Floral Theme for Kaia of All Trades */
$primary-color: #D98880;
$primary-color-dark: #944E63;
$secondary-color: #A3B18A;
$secondary-color-dark: #6B705C;
$body-background-color: #FDF0EB;
$text-color: #3C3C3C;

@import "minimal-mistakes/skins/default";
